@import url('../font/iranyekan/');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'iranyekan';
}
:root {
  --sidebar-color: #6d28d9;
  --white-text-color: #fff;
  --backgroundColor: #f6f6f6;
  --main-white: #fff;
  --main-text: #334155;
  --main-gray: #94a3b8;
  --add-note-btn: #e9d5ff;
  --main-red: #ef4444;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.8;
  direction: rtl;
}

.notes {
  display: flex;
  background-color: var(--backgroundColor);
}
.notes__sidebar {
  position: sticky;
  border-radius: 5rem 0 0 5rem;
  width: 400px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: var(--sidebar-color);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.75rem 0.2rem;
}

.notes__logo {
  text-align: center;
  padding: 1rem;
  color: var(--white-text-color);
}
.notes__logo h2 {
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}
.notes__list {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}
.notes__list::-webkit-scrollbar {
  display: none;
}
.notes__list-item {
  background-color: var(--main-white);
  margin: 1rem 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.notes__list-header,
.notes__list-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes__list-icons {
  width: 50px;
  padding: 1rem 0;
  cursor: pointer;
  font-size: 1.8rem;
}
.fa-trash-can {
  color: var(--main-red);
}

.fa-pen-to-square {
  color: var(--main-gray);
}
.fa-trash-can:hover,
.fa-pen-to-square:hover {
  opacity: 0.7;
}
.notes__list-title,
.notes__list-body {
  font-size: 1.8rem;
  color: var(--main-text);
  padding-bottom: 1rem;
  text-align: left;
}
.notes__list-title {
  font-weight: bold;
  font-size: 2rem;
}
.notes__list-date {
  color: var(--main-gray);
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 1.6rem;
}
.notes__add-btn {
  width: 280px;
  height: 4.8rem;
  border-radius: 1rem;
  margin: 2rem 1rem 3rem 1rem;
  outline: none;
  text-transform: uppercase;
  border: none;
  font-weight: bolder;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: var(--add-note-btn);
}
.notes__add-btn:hover {
  opacity: 0.7;
}
.notes__preview {
  width: 100%;
}
.notes__title-input {
  width: 90%;
  height: 90px;
  margin: 2rem;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--main-text);
  text-align: left;
}
.notes__text {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75vh;
  margin: 2rem;
}
.notes__text-input {
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}
::placeholder {
  color: var(--main-text);
}

:-ms-input-placeholder {
  color: var(--main-text);
}

::-ms-input-placeholder {
  color: var(--main-text);
}
.notes__save-btn {
  height: 5rem;
  border-radius: 0 0 1rem 1rem;
  border: none;
  outline: none;
  background-color: var(--sidebar-color);
  color: var(--main-white);
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}
.notes__save-btn:hover {
  opacity: 0.7;
}
